main {
    margin: auto;
}

#erhverv {
    margin-left: 20px;
    margin-right: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    padding-bottom: 20px;
    padding-top: 20px;
}

p {
    line-height: 1.6;
}

@media (min-width:900px) {
    main {
        display: block;
        width: 900px;
        margin: auto;
    }
}
