#kontaktform {

    padding-bottom: 8rem;
}

section{
    margin-left: 10px;
    margin-right: 10px;
}

label,
input,
button,
form,
span {
    display: block;
}

.tekst {
    display: block;
    margin: auto;
    width: 100%;
}

article {
    line-height: 1.6;
}

.contact-form {
    margin: 30px auto;
    padding: 30px;
    background: #d9dadf;
    /* You can change the main color of thew form here. */
    font-size: 14px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    width: auto;
}

label {
    display: block;
    font-size: 24px;
    padding: 13px 0;
    color: #000000;
    /*text-shadow: 1px 1px 1px #666;*/
}

input#fileToUpload {
    display: block;
    font-size: 14px;
    padding: 23px 0;
    color: #000000;
    /*text-shadow: 1px 1px 1px #666;*/
}



input {
    height: 18px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /* -webkit-box-shadow: 0 0 10px #444;
  -moz-box-shadow: 0 0 10px #444;*/
    /*box-shadow: 0 0 10px #444;*/
    border: 1px solid #fff;
}

textarea {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*-webkit-box-shadow: 0 0 10px #444;
  -moz-box-shadow: 0 0 10px #444;
  box-shadow: 0 0 10px #444;*/
}

input[type="text"]:hover,
textarea:hover {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
}

input[type="telefon"]:hover,
textarea:hover {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
}

input[type="email"]:hover,
textarea:hover {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
}


button[type="text"]:hover,
textarea:hover {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
}

button#submit {
    text-align: center;
    color: #fff;
    height: 50px;
    padding: 0;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 50px;
    border: 1px solid #000;
    background: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: -moz-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: -o-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: -ms-linear-gradient(top, #3b3b3b 0%, #000000 100%);
    background: linear-gradient(top, #3b3b3b 0%, #000000 100%);
    opacity: 0.5;
}

button#submit:hover {
    color: #ccc;
    cursor: pointer;
    opacity: 0.8;
}




input#submit:hover {
    color: #ccc;
    cursor: pointer;
    opacity: 0.8;
}

button {
    height: 18px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 10px #444;
    box-shadow: 0 0 10px #444;
    border: 1px solid #fff;
}

label {
    text-transform: uppercase;
    font-size: 14px;
}



@media (min-width:700px) {

    h2 {
        display: block;
        margin: auto;
        width: 700px;
        margin-bottom: 25px;
        margin-top: 19.92px;
    }

    .tekst {
        display: block;
        margin: auto;
        width: 700px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    img {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
