#privatkunder {
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin-bottom: 25px;
}

p {
    line-height: 1.6;
}

#privatkunder {
    padding-bottom: 20rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    padding-bottom: 20px;
    padding-top: 20px;
}

@media (min-width:900px) {
    main {
        display: block;
        width: 900px;
        margin: auto;
    }
}
