a {
    text-decoration: underline;
}

#referencer {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width:800px) {
    #sectionwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

    #sectionwrapper .tekst {
        grid-column: 1/2;
    }

    #sectionwrapper .billede {
        grid-column: 2/3;
    }
}
