* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 100%;
}

img {
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h2,
header {
    font-family: 'Quicksand', sans-serif;
}

p,
article,
label {
    font-family: 'Roboto', sans-serif;
}
