* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

img {
    width: 100%;
}


.logo_burger {
    display: grid;
    grid-template-columns: auto 1fr;
}

.burger_menu {
    grid-column: 1/2;
}

.logo {
    width: 46vw;
    margin-left: 14.5vw;
    margin-right: auto;
    margin-top: 17px;
    display: block;
}



body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.burger_menu {
    position: relative;
    display: inline-block;
    text-align: left;
    height: 100px;
    z-index: 10;
    top: 40px;
}


.burger_menu img {
    width: 36px;
    height: 25px;
    margin-left: 4vw;
    padding: 0;

}


.burger_menu_undersider {
    margin: auto;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.burger_menu_undersider a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.burger_menu:hover .burger_menu_undersider {
    display: block;
}

nav {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 400;
    display: none;
    font-size: 0.68rem;
    z-index: 10;
}

a {
    padding-left: 6.5px;
    padding-right: 6.5px;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.45rem;
}

h2,
header,
h4 {
    font-family: 'Montserrat', sans-serif;
    /*    'Quicksand',
sans-serif;*/
}

p,
article,
label,
h3,
h5 {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #BAC1B8;
    /*padding: 10px;*/
    /*position: absolute;*/
    float: right;
    bottom: 0;
    width: 100%;

    /*height: 72rem;*/
    padding-left: 20px;
    padding-right: 20px;

    /*height: 72rem;*/
    padding-left: 40px;
    padding-right: 40px;

}

footer h4 {
    font-size: 1rem;
}

footer p {
    font-size: 0.8rem;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_undersider {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 20;
}

.dropdown_undersider a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.dropdown:hover .dropdown_undersider {
    display: block;
}


@media (min-width:661px) {


    .logo_burger{
        display: block;
    }

    .logo {
    width: 26vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    display: block;
}
    /*.index {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
          display: block;
    }*/

    .info_tekst {
        text-align: center;
    }

    @media (min-width:650px) {

        h1 {
            font-size: 2rem;
        }

        .burger_menu {
            display: none;
        }

        nav {
            display: block;
        }


        #footer_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 5vw;
        }

        .hilleroed1 {
            grid-column: 1/2;
        }

        .hilleroed2 {
            grid-column: 2/3;
        }

        .karslunde1 {
            grid-column: 3/4;

        }

        .karslunde2 {
            grid-column: 4/5;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            text-align: left;


        }

        /*.dropdown_undersider {
        margin: auto;
        display: none;
        position: absolute;
        background-color: white;
        min-width: 10vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown_undersider a:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }

    .dropdown:hover .dropdown_undersider {
        display: block;
    }*/
    }

    @media(min-width:716px) {
        h1 {
            font-size: 2rem;
        }

        nav {
            font-size: 0.78rem;
        }

        a {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    @media(min-width:772px) {
        nav {
            font-size: 0.85rem;
        }

        h1 {
            font-size: 2.2rem;
        }
    }

    @media (min-width:993px) {
        nav {
            font-size: 1.05rem;
        }

        a {
            padding-left: 9px;
            padding-right: 9px;
        }

        /*.udfor {
    padding-left: 5px;
    padding-right: 5px;
}*/
    }
